<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>MP Parade State</title>
    <header>
        <div class="d-flex justify-content-center">
            <h1 class="p-4">Manpower Branch Parade State</h1>
        </div>
    </header>
</head>

<body>
    <div class="container">
        <div class="card m-4">
            <div class="card-body">
                <br />

                <form>
                    <div class="form-group">
                        <button type="button" class="btn btn-info" id="getFirstParadeStateButton">Get First Parade
                            State</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info" id="getLastParadeStateButton">Get Last Parade
                            State</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info" id="getRemarksButton">Get Remarks</button>
                    </div>
                </form>

                <br />
                <button type="button" class="btn btn-success" id="copyToClipboardButton" data-toggle="tooltip"
                    data-placement="top" title="Copied!">CLICK HERE
                    TO COPY</button>
                <br />
                <span id="loadingSpinner">
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <span class="pl-2">Loading...</span>
                </span>
                <br />
                <span id="res"></span>

                <div class="modal fade bd-example-modal-lg" id="unaccountedModal" tabindex="-1" role="dialog"
                    aria-labelledby="unaccountedModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="unaccountedModalLabel"><b>Unaccounted
                                        detected!</b></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="unaccountedModalRes"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<footer class="d-flex p-4 flex-wrap">
    <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted">
            <a href="https://github.com/HamsterEatz/MP-PS" target="_blank"><img class="height-auto"
                    src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="10%"
                    width="10%" />
                <span class="pl-2">https://github.com/HamsterEatz/MP-PS</span>
            </a>
        </span>
    </div>

    <div class="col-md-4 justify-content-end d-flex align-items-center">
        <span class="text-muted">
            A open source project created by Nelson
        </span>
    </div>

    <div class="col-md-4 justify-content-end d-flex align-items-center">
        <span class="text-muted">
            MP-PS v1.0.0
        </span>
    </div>
</footer>

</html>

<link rel="stylesheet" href="css/index.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script src=" https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js "></script>
<script src="./scripts/libraries/moment-timezone-with-data.js"></script>
<script src="./scripts/api/getParadeState.js"></script>
<script src="./scripts/index.js"></script>