html {
    position: relative;
    min-height: 100%;
}

header {
    background-color: #282A35;
    color: #f1f1f1;
}

body {
    margin-bottom: 8em;
    padding-bottom: 1em;
}

footer {
    position: absolute;
    bottom: 0;
    height: 8em;
    background-color: lightgray;
    color: #fff;
}

span#res {
    white-space: pre-line
}

button#copyToClipboardButton {
    visibility: hidden;
}

span#loadingSpinner {
    visibility: hidden;
}